:root {

}
body{
    font-family: "Poppins", sans-serif;!important;
}
a {
    text-decoration: none;
}

h3 {
    font-weight: lighter;
    color: #fff;
}

.container-fluid {
    color: #fff;
    text-align: center;
}

.login-bg {
    background-color: tomato;
}

.login-link:hover {
    border: 5px solid white;
    border-radius: 5px;
}

/*-----------------------------------HEADER-----------------------------------*/
header {
    height: 120px;


}

